body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-menu {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-menu {
  list-style: none;
}

.site-menu a {
  color: #000000;
}

.site-menu a:hover,
.site-menu a:focus {
  color: #81b3d2;
}

.site-menu a:active {
  color: #000000;
  opacity: 0.3;
}

.sedona-city {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sedona-text {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.real {
  background-color: #81b3d2;
}

.real-city {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.reason {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.genuine {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.advantage-title {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.advantage-text {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.bridge-devil {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.benefit {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.benefit-for-you {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.info {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.search-info {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
