body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.logo {
  position: absolute;
  left: 530px;
  margin: 0;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.background-sedona {
  background-image: url("../img/intro-mask.svg"), url("../img/bg_ph sedona.jpg");
  background-repeat: no-repeat;
  padding-bottom: 76px;
  position: relative;
  background-position: center 507px, top;
  background-size: 1200px;
}

a {
  text-decoration: none;
}

.header-title {
  font-size: 0;
  line-height: 0;
  width: 459px;
  height: 353px;
  background-image: url("../img/intro-welcome.svg");
  margin: 0 auto;
}

.main-menu {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 79px;

  background-color: #ffffff;
}

.site-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-link {
  display: block;
  width: 239px;
  padding: 15px 10px;
  box-sizing: border-box;
  text-align: center;
}

.site-menu li:nth-child(3) {
  margin-left: 244px;
}

.site-menu a {
  color: #000000;
  font-weight: 700;
}

.site-menu a:hover,
.site-menu a:focus {
  color: #81b3d2;
}

.site-menu a:active {
  color: #000000;
  opacity: 0.3;
}

a.active-link {
  color: #766357;

  pointer-events: none;
}

.sedona {
  padding: 60px 25px 56px;
}

.sedona-city {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  width: 440px;
  text-align: center;
  margin: 0 auto 38px;
}

.sedona-text {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
}

.real {
  background-color: #81b3d2;
}

.real-city {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.reason {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.genuine {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.advantage-list {
  list-style: none;
}

.advantage-title {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.advantage-text {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.reason-list {
  list-style: none;
}

.bridge-devil {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.benefit {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.benefit-for-you {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.info-sedona {
  padding: 57px 25px 138px;
}

.info {
  display: block;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin: 0 auto 28px;
}

.search-info {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
}

.modal {
  display: flex;
  width: 568px;
}

.search-button {
  font: inherit;
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;

  width: 568px;
  margin: 0 auto;
}
/* кнопка не отвечает на маргин и не становится по центру почему-то*/


.search-button:hover,
.search-button:focus {
  background-color: #604e43;
}

.search-button:active {
  opacity: 0.3;
  color: #ffffff;
  background-color: #503e33;
}

.info-sedona-form {
  flex-direction: column;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.form-button {
  font: inherit;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
}

.form-button:hover,
.form-button:focus {
  background-color: #669ec0;
}

.form-button:active {
  opacity: 0.3;
  color: #ffffff;
  background-color: #5496bd;
}

.map {
  background-image: url("../img/map.jpg");
  height: 473px;
  width: 100%;
}

.hotel-link {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.hotel-link:hover,
.hotel-link:focus {
  color: #81b3d2;
}

.hotel-link:active {
  opacity: 0.3;
  color: #000000;
}

.price {
  color: #81b3d2;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.price:active {
  color: #81b3d2;
}

.product-type {
  opacity: 0.3;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.product-type:hover,
.product-type:focus {
  color: #81b3d2;
  opacity: 1;
}

.product-type:active {
  color: #000000;
}

.rated {
  opacity: 0.3;
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  line-height: 18px;
}

.rated:hover,
.rated:focus {
  opacity: 1;
  color: #81b3d2;
}

.rated:active {
  color: #000000;
}

.up {
  background-color: #cacaca;
}

.up:hover,
.up:focus {
  background-color: #231f20;
}

.up:active {
  background-color: #81b3d2;
}

.down {
  background-color: #81b3d2;
}

.summary {
  line-height: 21px;
  color: #333333;
}

.button-news {
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.button-news:hover,
.button-news:focus {
  background-color: #669ec0;
}

.button-news:active {
  background-color: #5496bd;
  opacity: 0.3;
  color: #ffffff;
}

.button-reservation {
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  background-color: #766357;
}

.button-reservation:hover,
.button-reservation:focus {
  background-color: #604e43;
}

.button-reservation:active {
  opacity: 0.3;
  color: #ffffff;
  background-color: #503e33;
}

.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-hashtag {

  color: #000000;
  font-size: 21px;
  font-weight: 700;
}

.social-list {
  display: flex;
  list-style: none;
}

.tw {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}

.fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
}

.yt {
    background-image: url("../img/youtube.svg");
    background-repeat: no-repeat;
}

.social-button {
  display: block;
  background-color: #81b3d2;
  background-position: center;
  font-size: 0;
  line-height: 0;
  width: 46px;
  height: 48px;
  margin: 36px 6px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  opacity: 0.3;
}

.htmlacademy {
  display: flex;
  align-items: center;
}
